@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: black;
    color: white; /* Optional: This sets the text color to white for better contrast */
  }
  
  @layer utilities {
    .bg-input-rgba {
      background-color: rgba(0, 254, 247, 0.1);
    }
  }